# -----------------------------------------
# Mailpit settings
# -----------------------------------------
MAILPIT_HOST=<MAILPIT_HOST>
MAILPIT_PORT=<MAILPIT_PORT>
MAILPIT_WEB_PORT=<MAILPIT_WEB_PORT>
TZ=<TZ>